/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #141414;
  color: #fff;
  padding-bottom: 50px;
}

/* Page container */
.app-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

/* Search header */
h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 15px;
}

/* Search input */
.search-input {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  border-radius: 12px;
  border: 1px solid #ddd;
  outline: none;
  transition: 0.3s ease;
}

.search-input:focus {
  border-color: #e50914;
  box-shadow: 0 0 0 3px rgba(184, 27, 27, 0.2);
}

/* Anime grid */
.anime-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 18px;
  margin-top: 20px;
}

/* Anime card */
.card {
 background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;
  height: 380px; /* FIXED CARD HEIGHT */
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.card-content {
  padding: 12px;
  flex: 1; /* fill remaining space */
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 6px;
  color:black;
}

.card-desc {
  font-size: 12px;
  color: #666;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items:center;
  gap: 10px;
  margin-top: 30px;
}

.arrow-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: #e50914;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.25s ease;
}

.arrow-btn:hover:not(:disabled) {
  background: #f6121d;
  transform: scale(1.05);
}

.arrow-btn:disabled {
  background: #bdbdbd;
  cursor: not-allowed;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  padding: 6px;
  display: inline-block;
}

.left {
  transform: rotate(135deg);
}

.right {
  transform: rotate(-45deg);
}

.page-number {
  font-weight: 600;
  color: #fff;
  text-align:center;
}


/* Detail page */
.detail-wrapper {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 2fr 1fr; /* left bigger */
  gap: 40px;
}

.detail-left {
  color: #e5e5e5;
}

.detail-right {
  color: #b3b3b3;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.detail-section-title {
  color: white;
  font-weight: 600;
  margin-bottom: 4px;
  font-size: 15px;
}

/* For items like genre list */
.detail-meta-item span {
  color: white;
  font-weight: 500;
}

.detail-synopsis {
  line-height: 1.6;
  color: #cccccc;
  max-width: 700px;
  margin-top: 12px;
}

.detail-container {
  margin-top: 20px;
}

.detail-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
}

.detail-img {
  width: 300px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.detail-text {
  max-width: 700px;
  line-height: 1.6;
  font-size: 15px;
  color: #fff;
}

.back-link {
   background-color: transparent;
  border: 2px solid #e50914;
  color: #e50914;
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.25s ease;
  text-decoration: none;
}

.back-link:hover {
 background-color: #e50914;
  color: white;
}

.skeleton {
  background: linear-gradient(90deg, #2c2c2c 25%, #3a3a3a 50%, #2c2c2c 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite;
}

@keyframes skeleton-loading {
  0% { background-position: 200% 0; }
  100% { background-position: -200% 0; }
}

.skeleton-card {
  height: 380px;
  border-radius: 12px;
}

/* mobile*/
@media (max-width: 700px) {
  .detail-wrapper {
    grid-template-columns: 1fr;
  }

  .anime-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
