body { 
    font-family: Inter, 
    system-ui, Arial; 
    margin: 0; 
    padding: 0; 
    background: #f7f7fb; 
    color: #111; 
}

a { 
    color: inherit; 
}

button { 
    cursor: pointer; 
}
input { 
    box-sizing: border-box;
 }

